{
  "swagger": "2.0",
  "info": {
    "description": "Many features of the CloudView are available through REST APIs. <br/>Access support information at <a href=\"https://www.qualys.com/support/\" target=\"_blank\">www.qualys.com/support</a>. <br/><br/><b>Permissions:</b> <br/>User must have the CloudView module enabled and api access permission.",
    "title": "CloudView APIs",
    "contact": {
      "name": "dev-cloudview@qualys.com"
    },
    "version": ""
  },
  "host": "qualysguard.qg2.apps.qualys.com",
  "basePath": "/cloudview-api",
  "tags": [
    {
      "name": "AWS Connector",
      "description": "API's for the AWS Connectors"
    },
    {
      "name": "AWS Evaluations",
      "description": "API's for the AWS Control Evaluations"
    },
    {
      "name": "Assessment Reports",
      "description": "API's for the Assessment Report"
    },
    {
      "name": "Azure Connector",
      "description": "API's for the Azure Connectors"
    },
    {
      "name": "Azure Evaluations",
      "description": "API's for the Azure Control Evaluations"
    },
    {
      "name": "Connector Groups Management",
      "description": "API's for managing Connector Groups"
    },
    {
      "name": "GCP Connector",
      "description": "API's for the GCP Connectors"
    },
    {
      "name": "GCP Evaluations",
      "description": "API's for the GCP Control Evaluations"
    },
    {
      "name": "Remediation Activity",
      "description": "API's for Remediation"
    },
    {
      "name": "Reports",
      "description": "API's for the Reports"
    },
    {
      "name": "Response Actions",
      "description": "API's for Response Actions (Beta Version)"
    },
    {
      "name": "Response Notifications",
      "description": "API's for Response Notifications (Beta Version)"
    },
    {
      "name": "Response Rules",
      "description": "API's for Response Rules (Beta Version)"
    },
    {
      "name": "User Access Management",
      "description": "API's for managing User Access"
    }
  ],
  "paths": {
    "/rest/v1/actions": {
      "get": {
        "tags": [
          "Response Actions"
        ],
        "summary": "Get actions",
        "operationId": "getAllActionsByFilterUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter the Actions list by providing a query using Qualys syntax. ",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "The page to be returned.",
            "required": true,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records per page to be included in the response.",
            "required": true,
            "type": "integer",
            "default": 50,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Sort the results based on field name ",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "SortOrder",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/actions/delete": {
      "post": {
        "tags": [
          "Response Actions"
        ],
        "summary": "Delete existing action",
        "operationId": "deleteActionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "actionIds",
            "description": "Specify the IDs of the actions to be deleted.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/BulkIdParam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/actions/email": {
      "post": {
        "tags": [
          "Response Actions"
        ],
        "summary": "Create a new email action",
        "operationId": "createEmailActionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "emailActionRequest",
            "description": "emailActionRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailActionRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/actions/email/{emailActionId}": {
      "put": {
        "tags": [
          "Response Actions"
        ],
        "summary": "Update email action",
        "operationId": "updateEmailActionUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "emailActionId",
            "in": "path",
            "description": "Specify the Email ID of a specific action in the user’s scope.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "emailActionUpdateRequest",
            "description": "emailActionUpdateRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailActionUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/actions/pagerduty": {
      "post": {
        "tags": [
          "Response Actions"
        ],
        "summary": "Create a new pagerDuty action",
        "operationId": "createPagerActionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "pagerdutyRequest",
            "description": "pagerdutyRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PagerdutyRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/actions/pagerduty/test": {
      "post": {
        "tags": [
          "Response Actions"
        ],
        "summary": "Test pagerDuty action",
        "operationId": "testSlackActionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "pagerdutyConnectionParam",
            "description": "pagerdutyConnectionParam",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PagerdutyConnectionParam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PagerdutyConnectionParam"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/actions/pagerduty/{pagerActionId}": {
      "put": {
        "tags": [
          "Response Actions"
        ],
        "summary": "Update pagerDuty action",
        "operationId": "updatePagerActionUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "pagerActionId",
            "in": "path",
            "description": "Specify the pagerAction ID of a specific action in the user’s scope.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "pagerdutyUpdateRequest",
            "description": "pagerdutyUpdateRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PagerdutyUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/actions/slack": {
      "post": {
        "tags": [
          "Response Actions"
        ],
        "summary": "Create a new Slack action",
        "operationId": "createSlackActionUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "slackRequest",
            "description": "slackRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SlackRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/actions/slack/test": {
      "post": {
        "tags": [
          "Response Actions"
        ],
        "summary": "Test Slack action",
        "operationId": "testSlackActionUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "slackConnectionParam",
            "description": "slackConnectionParam",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SlackConnectionParam"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SlackConnectionParam"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/actions/slack/{slackActionId}": {
      "put": {
        "tags": [
          "Response Actions"
        ],
        "summary": "Update Slack action",
        "operationId": "updateSlackActionUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "slackActionId",
            "in": "path",
            "description": "Specify the slackAction ID of a specific action in the user’s scope.",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "slackUpdateRequest",
            "description": "slackUpdateRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SlackUpdateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResponseEntity"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/actions/types": {
      "get": {
        "tags": [
          "Response Actions"
        ],
        "summary": "Get all the possible action types",
        "operationId": "getActionsTypesUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/actions/{actionId}": {
      "get": {
        "tags": [
          "Response Actions"
        ],
        "summary": "Get action by Id",
        "operationId": "getActionByIdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "actionId",
            "in": "path",
            "description": "Specify the action ID of a specific action in the user’s scope.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActionResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/activities": {
      "get": {
        "tags": [
          "Response Notifications"
        ],
        "summary": "Get activities",
        "operationId": "getAllNotificationsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "cloudType",
            "in": "query",
            "description": "Cloud Type",
            "required": true,
            "type": "string",
            "allowEmptyValue": false,
            "enum": [
              "AWS",
              "AZURE",
              "GCP"
            ]
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter the Activities list by providing a query using Qualys syntax. ",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "The page to be returned.",
            "required": true,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records per page to be included in the response.",
            "required": true,
            "type": "integer",
            "default": 50,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "sortField",
            "in": "query",
            "description": "Sort the results based on field name ",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "sortOrder",
            "in": "query",
            "description": "SortOrder",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/AlertResponse"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/activities/{activityId}": {
      "get": {
        "tags": [
          "Response Notifications"
        ],
        "summary": "Get activity by Id",
        "operationId": "getNotificationByIdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "activityId",
            "in": "path",
            "description": "Specify the activity ID of a specific alert in the user’s scope.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AlertResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/aws/connectors": {
      "get": {
        "tags": [
          "AWS Connector"
        ],
        "summary": "Get the list of connectors",
        "operationId": "getListUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter the list of connectors using Qualys syntax.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "The page to be returned.",
            "required": true,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records per page to be included in the response.",
            "required": true,
            "type": "integer",
            "default": 50,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the results using a Qualys token. For example lastSyncedOn:desc.",
            "required": false,
            "type": "string",
            "default": "lastSyncedOn:desc",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageImpl«AwsConnectorResponse»"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "AWS Connector"
        ],
        "summary": "Create a new connector",
        "operationId": "createUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "connectorBody",
            "description": "<a href=\"/cloudview/help/index.htm#t=connector%2Faws_v1%2Fconfigure_aws_connectors.htm\" target=\"_blank\">Click here</a> to know more about parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AwsConnectorCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AwsConnectorResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "delete": {
        "tags": [
          "AWS Connector"
        ],
        "summary": "Delete the provided connectors",
        "operationId": "deleteConnectorsUsingDELETE_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "connectorIds",
            "description": "Specify the IDs of the connectors to be deleted.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/aws/connectors/aws/download": {
      "get": {
        "tags": [
          "AWS Connector"
        ],
        "summary": "Download the AWS cloud formation template",
        "operationId": "downloadAwsCloudFormationTemplateUsingGET",
        "produces": [
          "application/octet-stream"
        ],
        "parameters": [
          {
            "name": "awsCloudType",
            "in": "query",
            "description": "Aws Cloud type used for generating the template for particular Cloud.",
            "required": true,
            "type": "string",
            "allowEmptyValue": false,
            "enum": [
              "Gov",
              "China",
              "Global"
            ]
          },
          {
            "name": "externalId",
            "in": "query",
            "description": "External Id to be used for generating the template.",
            "required": true,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/aws/connectors/awsBaseAccountId": {
      "get": {
        "tags": [
          "AWS Connector"
        ],
        "summary": "Get the aws base account Id ",
        "operationId": "getAwsAccountIdUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/aws/connectors/connectors/disable": {
      "patch": {
        "tags": [
          "AWS Connector"
        ],
        "summary": "Disable the provided connectors",
        "operationId": "disableConnectorsUsingPATCH_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "connectorIds",
            "description": "Specify the IDs of the connectors to be disabled.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AckRequest"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/aws/connectors/connectors/enable": {
      "patch": {
        "tags": [
          "AWS Connector"
        ],
        "summary": "Enable the provided connectors",
        "operationId": "enableConnectorsUsingPATCH_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "connectorIds",
            "description": "Specify the IDs of the connectors to be enabled.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AckRequest"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/aws/connectors/run": {
      "post": {
        "tags": [
          "AWS Connector"
        ],
        "summary": "Run the provided connectors",
        "operationId": "runConnectorUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "connectorIds",
            "description": "Specify the IDs of the connectors that you want to execute/run.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/aws/connectors/{connectorId}": {
      "get": {
        "tags": [
          "AWS Connector"
        ],
        "summary": "Get the details of connector",
        "operationId": "getDetailsUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "Specify the connector ID of a specific connector in the user’s scope.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AwsConnectorResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "put": {
        "tags": [
          "AWS Connector"
        ],
        "summary": "Update the existing connector",
        "operationId": "updateConnectorUsingPUT_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "connectorBody",
            "description": "<a href=\"/cloudview/help/index.htm#t=connector%2Faws_v1%2Fconfigure_aws_connectors.htm\" target=\"_blank\">Click here</a> to know more about parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ConnectorUpdateRequest"
            }
          },
          {
            "name": "connectorId",
            "in": "path",
            "description": "Specify the connector ID of a specific connector in the user’s scope.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AwsConnectorResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/aws/connectors/{connectorId}/errors": {
      "get": {
        "tags": [
          "AWS Connector"
        ],
        "summary": "Get the list of errors encountered when executing AWS connector",
        "operationId": "getErrorsListUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "Specify the connector ID of a specific connector in the user’s scope.",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "The page to be returned.",
            "required": true,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records per page to be included in the response.",
            "required": true,
            "type": "integer",
            "default": 50,
            "format": "int32",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageImpl«AwsConnectorErrorResponse»"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/aws/evaluations/stats/{controlId}/{connectorId}": {
      "get": {
        "tags": [
          "AWS Evaluations"
        ],
        "summary": "Get the stats for specified control id and resource id",
        "operationId": "getEvaluationsStatsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "connectorId",
            "required": true,
            "type": "string"
          },
          {
            "name": "controlId",
            "in": "path",
            "description": "controlId",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceId",
            "in": "query",
            "description": "resourceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EvaluationDates"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/aws/evaluations/{accountId}": {
      "get": {
        "tags": [
          "AWS Evaluations"
        ],
        "summary": "Get the list of evaluations as per the account for AWS Controls",
        "operationId": "getEvaluatedControlsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Specify the ID of a specific account in the user’s scope.",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter the resources list by providing a query using Qualys syntax. <a href=\"/cloudview/help/search_tips/search_ui_evaluations.htm\" target=\"_blank\">Click here</a> for help with creating your query.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "The page to be returned.",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records per page to be included in the response.",
            "required": false,
            "type": "integer",
            "default": 300,
            "format": "int32",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageImpl«AwsEvaluationSummaryListResponse»"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/aws/evaluations/{accountId}/resources/{controlId}": {
      "get": {
        "tags": [
          "AWS Evaluations"
        ],
        "summary": "Get the resources evaluated for the specified aws account and control id",
        "operationId": "getEvaluatedResourcesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "description": "Specify the ID of a specific account in the user’s scope.",
            "required": true,
            "type": "string"
          },
          {
            "name": "controlId",
            "in": "path",
            "description": "Specify the control ID of a control for which resources evaluated need to be fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter the resources list by providing a query using Qualys syntax. <a href=\"/cloudview/help/search_tips/search_ui_evaluations.htm\" target=\"_blank\">Click here</a> for help with creating your query.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "The page to be returned.",
            "required": true,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records per page to be included in the response.",
            "required": true,
            "type": "integer",
            "default": 50,
            "format": "int32",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageImpl«AwsEvaluationDetailResponse»"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/azure/connectors": {
      "get": {
        "tags": [
          "Azure Connector"
        ],
        "summary": "Get the list of connectors",
        "operationId": "getListUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter the list of connectors using Qualys syntax.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "The page to be returned.",
            "required": true,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records per page to be included in the response.",
            "required": true,
            "type": "integer",
            "default": 50,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the results using a Qualys token. For example lastSyncedOn:desc.",
            "required": false,
            "type": "string",
            "default": "lastSyncedOn:desc",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageImpl«AzureConnectorResponse»"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "Azure Connector"
        ],
        "summary": "Create a new connector",
        "operationId": "createUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "connectorBody",
            "description": "<a href=\"/cloudview/help/index.htm#t=connector%2Fazure_v1%2Fconfigure_azure_connectors.htm\" target=\"_blank\">Click here</a> to know more about parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureConnectorCreateRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AzureConnectorResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "delete": {
        "tags": [
          "Azure Connector"
        ],
        "summary": "Delete the provided connectors",
        "operationId": "deleteConnectorsUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "connectorIds",
            "description": "Specify the IDs of the connectors to be deleted.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/azure/connectors/connectors/disable": {
      "patch": {
        "tags": [
          "Azure Connector"
        ],
        "summary": "Disable the provided connectors",
        "operationId": "disableConnectorsUsingPATCH",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "connectorIds",
            "description": "Specify the IDs of the connectors to be disabled.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AckRequest"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/azure/connectors/connectors/enable": {
      "patch": {
        "tags": [
          "Azure Connector"
        ],
        "summary": "Enable the provided connectors",
        "operationId": "enableConnectorsUsingPATCH",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "connectorIds",
            "description": "Specify the IDs of the connectors to be enabled.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AckRequest"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/azure/connectors/run": {
      "post": {
        "tags": [
          "Azure Connector"
        ],
        "summary": "Run the provided connectors",
        "operationId": "runConnectorUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "connectorIds",
            "description": "Specify the IDs of the connectors that you want to execute/run.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/azure/connectors/{connectorId}": {
      "get": {
        "tags": [
          "Azure Connector"
        ],
        "summary": "Get the details of connector",
        "operationId": "getDetailsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "Specify the connector ID of a specific connector in the user’s scope.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AzureConnectorResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "put": {
        "tags": [
          "Azure Connector"
        ],
        "summary": "Update the existing connector",
        "operationId": "updateConnectorUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "connectorBody",
            "description": "<a href=\"/cloudview/help/index.htm#t=connector%2Fazure_v1%2Fconfigure_azure_connectors.htm\" target=\"_blank\">Click here</a> to know more about parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AzureConnectorUpdateRequest"
            }
          },
          {
            "name": "connectorId",
            "in": "path",
            "description": "Specify the connector ID of a specific connector in the user’s scope.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AzureConnectorResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/azure/connectors/{connectorId}/errors": {
      "get": {
        "tags": [
          "Azure Connector"
        ],
        "summary": "Get the list of errors encountered when executing Azure connector",
        "operationId": "getAzureErrorsListUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "Specify the connector ID of a specific Azure connector in the user’s scope.",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "The page to be returned.",
            "required": true,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records per page to be included in the response.",
            "required": true,
            "type": "integer",
            "default": 50,
            "format": "int32",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageImpl«AzureConnectorErrorResponse»"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/azure/evaluations/stats/{controlId}/{connectorId}": {
      "get": {
        "tags": [
          "Azure Evaluations"
        ],
        "summary": "Get the stats for specified control id and resource id",
        "operationId": "getEvaluationsStatsUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "connectorId",
            "required": true,
            "type": "string"
          },
          {
            "name": "controlId",
            "in": "path",
            "description": "controlId",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceId",
            "in": "query",
            "description": "resourceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EvaluationDates"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/azure/evaluations/{subscriptionId}": {
      "get": {
        "tags": [
          "Azure Evaluations"
        ],
        "summary": "Get the list of evaluations as per the account for Azure Controls",
        "operationId": "getEvaluatedControlsUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter the resources list by providing a query using Qualys syntax. <a href=\"/cloudview/help/search_tips/search_ui_evaluations.htm\" target=\"_blank\">Click here</a> for help with creating your query.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "The page to be returned.",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records per page to be included in the response.",
            "required": false,
            "type": "integer",
            "default": 300,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Specify the ID of a specific subscription in the user’s scope.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageImpl«AzureEvaluationSummaryListResponse»"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/azure/evaluations/{subscriptionId}/resources/{controlId}": {
      "get": {
        "tags": [
          "Azure Evaluations"
        ],
        "summary": "Get the resources evaluated for the specified Azure account and control id",
        "operationId": "getEvaluatedResourcesUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "controlId",
            "in": "path",
            "description": "Specify the control ID of a control for which resources evaluated need to be fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter the resources list by providing a query using Qualys syntax. <a href=\"/cloudview/help/search_tips/search_ui_evaluations.htm\" target=\"_blank\">Click here</a> for help with creating your query.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "The page to be returned.",
            "required": true,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records per page to be included in the response.",
            "required": true,
            "type": "integer",
            "default": 50,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "subscriptionId",
            "in": "path",
            "description": "Specify the Subscription Id of a specific Subscription in the user’s scope.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageImpl«AzureEvaluationDetailResponse»"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/gcp/connectors": {
      "get": {
        "tags": [
          "GCP Connector"
        ],
        "summary": "Get the list of connectors",
        "operationId": "getListUsingGET_2",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter the list of connectors using Qualys syntax.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "The page to be returned.",
            "required": true,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records per page to be included in the response.",
            "required": true,
            "type": "integer",
            "default": 50,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort the results using a Qualys token. For Example lastSyncedOn:desc.",
            "required": false,
            "type": "string",
            "default": "lastSyncedOn:desc",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageImpl«GcpConnectorResponse»"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "GCP Connector"
        ],
        "summary": "Create a new connector",
        "operationId": "createUsingPOST_2",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "configFile",
            "in": "formData",
            "description": "Provide the <a href=\"/cloudview/help/index.htm#t=connector%2Fgcp_v1%2Fgcp_config_download.htm\" target=\"_blank\">configuration file</a>.",
            "required": true,
            "type": "file"
          },
          {
            "in": "formData",
            "name": "description",
            "description": "Description of the connector",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "name",
            "description": "Name of the connector",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "pollingFrequencyInHrs",
            "description": "Polling frequency in hours",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "pollingFrequencyInMinutes",
            "description": "Polling frequency in minutes",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "projectId",
            "description": "Project Id",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "remediationEnabled",
            "description": "Enable Remediation",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GcpConnectorResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "delete": {
        "tags": [
          "GCP Connector"
        ],
        "summary": "Delete the provided connectors",
        "operationId": "deleteConnectorsUsingDELETE_2",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "connectorIds",
            "description": "Specify the IDs of the connectors to be deleted.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/gcp/connectors/connectors/disable": {
      "patch": {
        "tags": [
          "GCP Connector"
        ],
        "summary": "Disable the provided connectors",
        "operationId": "disableConnectorsUsingPATCH_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "connectorIds",
            "description": "Specify the IDs of the connectors to be disabled.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AckRequest"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/gcp/connectors/connectors/enable": {
      "patch": {
        "tags": [
          "GCP Connector"
        ],
        "summary": "Enable the provided connectors",
        "operationId": "enableConnectorsUsingPATCH_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "connectorIds",
            "description": "Specify the IDs of the connectors to be enabled.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AckRequest"
            }
          },
          "204": {
            "description": "No Content"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/gcp/connectors/run": {
      "post": {
        "tags": [
          "GCP Connector"
        ],
        "summary": "Run the provided connectors",
        "operationId": "runConnectorUsingPOST_2",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "connectorIds",
            "description": "Specify the IDs of the connectors that you want to execute/run.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/gcp/connectors/{connectorId}": {
      "get": {
        "tags": [
          "GCP Connector"
        ],
        "summary": "Get the details of connector",
        "operationId": "getDetailsUsingGET_2",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "Specify the connector ID of a specific connector in the user’s scope.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GcpConnectorResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "put": {
        "tags": [
          "GCP Connector"
        ],
        "summary": "Update the existing connector",
        "operationId": "updateConnectorUsingPUT_2",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "configFile",
            "in": "formData",
            "description": "Provide the <a href=\"/cloudview/help/index.htm#t=connector%2Fgcp_v1%2Fgcp_config_download.htm\" target=\"_blank\">configuration file</a>.",
            "required": false,
            "type": "file"
          },
          {
            "name": "connectorId",
            "in": "path",
            "description": "Specify the connector ID of a specific connector in the user’s scope.",
            "required": true,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "description",
            "description": "Description of the connector",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "name",
            "description": "Name of the connector",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "pollingFrequencyInHrs",
            "description": "Polling frequency in hours",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "pollingFrequencyInMinutes",
            "description": "Polling frequency in minutes",
            "required": false,
            "type": "string"
          },
          {
            "in": "formData",
            "name": "remediationEnabled",
            "description": "Enable Remediation",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/GcpConnectorResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/gcp/connectors/{connectorId}/errors": {
      "get": {
        "tags": [
          "GCP Connector"
        ],
        "summary": "Get the list of errors encountered when executing GCP connector",
        "operationId": "getGcpErrorsListUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "Specify the connector ID of a specific GCP connector in the user’s scope.",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "The page to be returned.",
            "required": true,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records per page to be included in the response.",
            "required": true,
            "type": "integer",
            "default": 50,
            "format": "int32",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageImpl«GcpConnectorErrorResponse»"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/gcp/evaluations/stats/{controlId}/{connectorId}": {
      "get": {
        "tags": [
          "GCP Evaluations"
        ],
        "summary": "Get the stats for specified control id and resource id",
        "operationId": "getEvaluationsStatsUsingGET_2",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "connectorId",
            "in": "path",
            "description": "connectorId",
            "required": true,
            "type": "string"
          },
          {
            "name": "controlId",
            "in": "path",
            "description": "controlId",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceId",
            "in": "query",
            "description": "resourceId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EvaluationDates"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/gcp/evaluations/{projectId}": {
      "get": {
        "tags": [
          "GCP Evaluations"
        ],
        "summary": "Get the list of evaluations as per the account for GCP Controls",
        "operationId": "getEvaluatedControlsUsingGET_2",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter the resources list by providing a query using Qualys syntax. <a href=\"/cloudview/help/search_tips/search_ui_evaluations.htm\" target=\"_blank\">Click here</a> for help with creating your query.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "The page to be returned.",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records per page to be included in the response.",
            "required": false,
            "type": "integer",
            "default": 300,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Specify the projectId of a specific account in the user’s scope.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageImpl«GcpEvaluationSummaryListResponse»"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/gcp/evaluations/{projectId}/resources/{controlId}": {
      "get": {
        "tags": [
          "GCP Evaluations"
        ],
        "summary": "Get the resources evaluated for the specified GCP account and control id",
        "operationId": "getEvaluatedResourcesUsingGET_2",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "controlId",
            "in": "path",
            "description": "Specify the control ID of a control for which resources evaluated need to be fetched",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter the resources list by providing a query using Qualys syntax. <a href=\"/cloudview/help/search_tips/search_ui_evaluations.htm\" target=\"_blank\">Click here</a> for help with creating your query.",
            "required": false,
            "type": "string",
            "allowEmptyValue": false
          },
          {
            "name": "pageNo",
            "in": "query",
            "description": "The page to be returned.",
            "required": true,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records per page to be included in the response.",
            "required": true,
            "type": "integer",
            "default": 50,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "Specify the project Id of a specific account in the user’s scope.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageImpl«GcpEvaluationDetailResponse»"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/groups": {
      "get": {
        "tags": [
          "Connector Groups Management"
        ],
        "summary": "List the Groups",
        "operationId": "listGroupsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "pageNo",
            "in": "query",
            "description": "The page to be returned.",
            "required": true,
            "type": "integer",
            "default": 0,
            "format": "int32",
            "allowEmptyValue": false
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "The number of records per page to be included in the response.",
            "required": true,
            "type": "integer",
            "default": 50,
            "format": "int32",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/PageImpl«GroupResponse»"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      },
      "post": {
        "tags": [
          "Connector Groups Management"
        ],
        "summary": "Create a new Group",
        "operationId": "createUsingPOST_3",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "groupName",
            "in": "query",
            "description": "Name of Group",
            "required": true,
            "type": "string",
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CreateGroupResponse"
            }
          },
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "401": {
            "description": "Unauthorized user",
            "schema": {
              "$ref": "#/definitions/APIErrorFacade"
            }
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "basicAuth": []
          }
        ],
        "deprecated": false
      }
    },
    "/rest/v1/groups/connectors": {
      "post": {
        "tags": [
          "Connector Groups Management"
        ],
        "summary": "Update Groups for a Connector",
        "operationId": "updateGroupUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "cloudType",
            "in": "query",
            "description": "Cloud type",
            "required": true,
            "type": "string",
            "allowEmptyValue": false,
            "enum": [
              "AWS",
              "AZURE",
              "GCP"
            ]
          },
          {
[...]
